body{
    margin-left: 10%;
    margin-right: 10%;
    padding-right: 5%;
    padding-left: 5%;
}
header{
   background-image: url("img/pattern.png");
   background-color: #4ea0ff;
}
#logo{
    width: 20%;
    padding-top: 4%;
}
nav>h1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 3px;
    margin-top: 15px;
}
#sub1{
    display: inline;
    color: #818181;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 20px;
    
}
#sub2{
    display: inline;
    color:#4ea0ff ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
#sub3{
    color: #818181;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-bottom: 10px;
}
.subphoto{
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
}
main>p{
    display: inline;
}
main{
    margin-top: 10px;
}
#coloredp{
    background-color: yellow;
}
th{
    background-color:#60ddfc;
    padding-right: 100px;
}