body{
    margin-left: 10%;
    margin-right: 10%;
    padding-right: 5%;
    padding-left: 5%;
}
header{
   background-image: url("img/pattern.png");
   background-color: #4ea0ff;
}
#logo{
    width: 20%;
    padding-top: 4%;
}
nav>h1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 3px;
    margin-top: 15px;
}
#sub1{
    display: inline;
    color: #818181;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 20px;
    
}
#sub2{
    display: inline;
    color:#4ea0ff ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
#sub3{
    color: #818181;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-bottom: 10px;
}
.subphoto{
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
}
main>p{
    display: inline;
}
main{
    margin-top: 10px;
}
.colorep{
    background-color: yellow;
}
table{
    border-spacing: 0;
    margin-bottom: 15px;
}
td{
    min-width: 250px;
}
.blue{
    color: white;
    background-color: #20a9e5;
    font-weight: bold;
}
.lightblue{
    background-color:#b1e5f2;
}
#suggestion{
    color: #818181;
    margin-top: 30px;
    font-weight: bold;
}
#monitor{
    background-image: url(img/monitor.jpg);
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 312px;
    height: 208px;
    margin-top: 10px;
    padding-left: 2%;
    padding-top: 1%;
    background-repeat: no-repeat;
}
#graph{
    background-image: url(img/graph.jpg);
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 312px;
    height: 208px;
    margin-top: 10px;
    padding-left: 2%;
    padding-top: 1%;
    background-repeat: no-repeat;
}